@use "../../abstracts/colors";

.upgrades{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: map-get(colors.$upgrades, "background" );
    width: max-content;
    border-radius: 0.7rem;


    &__upgrade{
        padding: 2rem;
        display: grid;
        grid-column-gap: 2rem;
        grid-template-columns: 5% 95%;

        & > i{
            transform: translateY(10%);
            color: map-get(colors.$cookie, "spots" ) ;
        }
    }
}